.greeting {
    width: 100%;
    height: 500px;
    background: url("../../images/main.png") no-repeat center local;
    background-size: cover;

    display: flex;
    justify-content: center;
    align-items: center;
}
.greeting span {
    font-size: calc(24px + (16 + 16 * 0.7) * ((100vw - 320px) / 1280));
    font-weight: bold;
    margin: 0 10px 0 10px;
}
.greeting p {
    font-size: calc(16px + (16 * 0.7) * ((100vw - 320px) / 1280));
    margin: 0 10px 0 10px;
}
.greeting_paper {
    min-width: 270px;
}

ul {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    padding: 0;
    margin: 10px;
}
