.head {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
    background-color: white;
    max-height: 40px;
    padding: 10px;
}
.img {
    display: flex;
    margin-right: 40px;
    font-size: 18px;
    color: #fff;
}
